$warning-color: #da1212;

@mixin activeFormGroup($color) {
    border-color: $color;
    & i {
        color: $color;
    }
}

.form {
    max-width: 420px;
    width: 100%;
    &-container {
        width: 100%;
        min-height: 100vh;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title {
        text-align: center;
        margin-bottom: 24px;
        color: #086e7d;
    }
    &-group {
        margin-bottom: 20px;
        &-invaild {
            &.form-group-input {
                @include activeFormGroup($warning-color);
            }
        }
        &-vaild {
            &.form-group-input {
                @include activeFormGroup($primary-color);
            }
            & .icon-vaild {
                display: block;
                position: absolute;
                right: 10px;
                left: auto;
                width: 24px;
                height: 24px;
                font-size: 24px;
                color: $primary-color;
            }
        }

        &-input {
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 2px solid #dbdbdb;
            transition: all 0.2s ease-out;
            position: relative;
            &:focus-within {
                @include activeFormGroup($primary-color);
            }
            & i {
                width: 24px;
                height: 24px;
                font-size: 24px;
                color: #7c99ac;
                position: absolute;
                left: 10px;
            }
            & input {
                width: 100%;
                outline: none;
                height: 50px;
                padding: 0 44px;
                border: none;
                color: #141e61;
                background-color: #fafafa;
                transition: all 0.2s linear;
                &:focus {
                    background-color: #fff;
                    &::-webkit-input-placeholder {
                        color: $primary-color;
                    }
                    &::-moz-input-placeholder {
                        color: $primary-color;
                    }
                }
                &::-webkit-input-placeholder {
                    color: #7c99ac;
                }
                &::-moz-input-placeholder {
                    color: #7c99ac;
                }
            }
        }
    }
    &-warning {
        display: block;
        margin-left: 8px;
        font-style: italic;
        color: $warning-color;
    }
    & button[type="submit"] {
        width: 90%;
        font-size: 18px;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        border: none;
        border-radius: 6px;
        padding: 10px 0;
        background-color: $primary-color;
        color: #eee;
        transition: all 0.2s ease-out;

        &:hover {
            opacity: 0.9;
        }
    }

    &-option-switch {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        & * {
            text-decoration: none;
            color: #2f3a8f;
            font-weight: 700;
            cursor: pointer;
            user-select: none;
        }
    }
    &-hide {
        display: none;
    }
}

.icon-vaild {
    display: none;
}
